<h1></h1>

<div class="jumbotron">
  <h1>Welcome to Abildy!</h1>
  <p>Find an accountability buddy and acheive your goals together</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Join Now!</a></p>
</div>